<div id="text-div">
    <h1 class="title">
        <u>
            Terms & Conditions
        </u>
    </h1>
    <p id="sub-title">
        1 | Keys
    </p>
    <p id="description">
        You can assign a key to any account by going to that account's account page, selecting activate product key and inputting the key.
        Each key can be used on only once, but you can have multiple copies of the same product on the same account.
        If your key hasn't been activated within a month then it may be removed<sup>[1]</sup>.
        After your purchase you will receive an email with your product key(s).
        After your purchase, you will be sent a key to the email you signed up with.
        Please give up to 24 hours to receive your key(s).
    </p>
    <p id="sub-title">
        2 | Returns
    </p>
    <p id="description">
        You have 48 hours after your key(s) is sent to you to ask for a refund <sup>[2]</sup>.
    </p>
</div>
<hr>
<p>[1] | We will go though the list of unclaimed keys once a month so you may get more time, but never less.</p>
<p>[2] | Unless stated otherwise.</p>
<hr>
<p>
    <a href="/text/home">Back One Step</a> | <a href="/text/home">Home</a>
</p>