{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="account.css" />
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

<div id="container">
    <div vertical-layout id="vertical-layout">
        <h1 class="title">Hello, {{ name }}!</h1>
        <hr>
        <select id="form-selector" style="margin-bottom: 20px;">
            <option value="_" selected>Choose One</option>
            <option value="owned">Owned Products</option>
            <option value="Activate">Activate Product Key</option>
            <option value="ChangePass">Change Password</option>
            <option value="AccountDeactivate">Deactivate Account</option>
        </select>
        <div id="forms">
            <form name="owned">
                <div class="owned-items">
                    <p class="owned-items-title">Owned Products:</p>
                    {% for item in owned_items %}
                        <p>
                            {{ ''.join(item.keys()) }} | 
                            <a class="download" href="{{ ''.join(item.values()) }}">
                                Download
                            </a>
                        </p>
                    {% endfor %}
                </div>
            </form>
            <form name="Activate" class="product-key-form" method="POST" action="{{url_for('redeem_key')}}">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
                <div id="container-tools">
                    <div class="search-area" style="width: calc(100% - 75px); margin: 20px; margin-top: 5px;">
                        <input type="text" id="key" name="key" placeholder="Product Key" />
                    </div>
                </div>
                <div class="cf-turnstile" data-sitekey="0x4AAAAAAABti1blkZmNh51p"></div>
                <div id="submit" style="margin-top: 0;">
                    <button>Activate Product Key</button>
                </div>
            </form>
            <form name="ChangePass" method="POST" action="{{url_for('ChangePass')}}" id="fm" style="height: 620px">
                <div vertical-layout id="vertical-layout">
                    <h3>Password Change</h3>
        
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="notification">
                                    {{ messages[0] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    <div id="password">
                        <label for="password">Old Password</label>
                        <input type="password" name="old-password" placeholder="Password">
                    </div>
                    <div id="password">
                        <label for="password">New Password</label>
                        <input type="password" name="new-password" placeholder="Password">
                    </div>
                    <div class="cf-turnstile" style="margin-top: 10px;" data-sitekey="0x4AAAAAAABti1blkZmNh51p"></div>
                    <div id="submit" style="margin-top: 0;">
                        <button>Change Password</button>
                    </div>
                </div>
            </form>
            <form name="AccountDeactivate" method="POST" action="{{url_for('login')}}" id="fm" style="height: 610px">
                <div vertical-layout id="vertical-layout">
                    <h3>Account Deactivation</h3>
                    <p style="text-align: center;">
                        <br>
                        To cancel a deactivation, log in.
                        <br>
                        After 7 days your account will be deactivated and you will lose access to any products you have bought.
                        <br>
                        You will not be refunded for any active products.
                    </p>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="notification">
                                    {{ messages[0] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    <div id="password">
                        <label for="password">Password</label>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div id="password">
                        <label for="password">Confirm Password</label>
                        <input type="password" name="confirm-password" placeholder="Password">
                    </div>
                    <div class="cf-turnstile" style="margin-top: 10px;" data-sitekey="0x4AAAAAAABti1blkZmNh51p"></div>
                    <div id="submit">
                        <button>Deactivate Account</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const formSelect = document.getElementById('form-selector')
    ,   myForms    = document.getElementById('forms');
    formSelect.oninput=()=>{ myForms.className = `f-${formSelect.value}` }

    if (name == "CSuiteAdmin") {
        document.getElementById("account-settings").style.visibility = "hidden";
    } else {
        document.getElementById("account-settings").style.visibility = "visible";
    }

    document.getElementById("account-settings").style.marginBottom = calc((document.getElementById("activate-key-div").style.height) + 100);
</script>

{% endblock %}