{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="account.css" />
<div id="container">
    <div vertical-layout id="vertical-layout">
        <h1 class="title">Hello, {{ name }}!</h1>
        <hr>
        <r-c>
            <c1-2 style="float: left; color: white;">
                <h1 class="title">Hi</h1>
                <hr>
            </c1-2>
            <c1-2 style="float: right; color: white;">
                <h1 class="title">
                    Account Tools
                </h1>
                <hr>
                <br>
                <form method="POST" action="{{url_for("auth.login")}}" id="fm" >
                    <div vertical-layout id="vertical-layout">
                        <h3>Password Change</h3>
            
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <div class="notification">
                                        {{ messages[0] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        <div id="username">
                            <label for="username">Email</label>
                            <input type="email" name="email" placeholder="Email" autofocus="">
                        </div>
                        <div id="password">
                            <label for="password">Old Password</label>
                            <input type="password" name="old-password" placeholder="Password">
                        </div>
                        <div id="password">
                            <label for="password">New Password</label>
                            <input type="password" name="new-password" placeholder="Password">
                        </div>
                        <div id="submit">
                            <button>Change Password</button>
                        </div>
                    </div>
                </form>
                <br>
                <form method="POST" action="{{url_for("auth.login")}}" id="fm" >
                    <div vertical-layout id="vertical-layout" style="height:fit-content">
                        <br>
                        <h3>Account Deactivication</h3>
                        <p style="text-align: left;">
                            <br>
                            To cancel a deativication, log in.
                            <br>
                            After 7 days your account will be deavtiated and
                            <br>
                            you will loose access to any products you have
                            <br>
                            bought. You will not be refunded for any active
                            <br>
                            products.
                        </p>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <div class="notification">
                                        {{ messages[0] }}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        <div id="password">
                            <label for="password">Password</label>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                        <div id="password">
                            <label for="password">Confirm Password</label>
                            <input type="password" name="confirm-password" placeholder="Password">
                        </div>
                        <div id="submit">
                            <button>Deactivate Account</button>
                        </div>
                        <br>
                    </div>
                </form>
            </c1-2>
        </r-c>
    </div>
</div>

{% endblock %}