{% extends "base.html" %}

{% block content %}

<section class="skrollable skrollable-between u-align-center u-clearfix u-gradient u-section-1" id="sec-7972">
<div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-custom-html u-custom-html-1">
    <a href="https://twitter.com/owen93391711">
        <img src="https://cdn2.iconfinder.com/data/icons/social-hand-drawn-icons/64/social_54-128.png" width="75px" height="75px">
    </a>
    <a href="https://www.facebook.com/profile.php?id=100068366119859">
        <img src="https://cdn2.iconfinder.com/data/icons/social-hand-drawn-icons/64/social_55-128.png" width="75px" height="75px">
    </a>
    <a href="mailto:owenwgar@gmail.com">
        <img src="https://cdn2.iconfinder.com/data/icons/social-hand-drawn-icons/64/social_43-128.png" width="75px" height="75px">
    </a>
    <a href="https://www.twitch.tv/GalacticSquirrell">
        <img src="https://cdn2.iconfinder.com/data/icons/social-hand-drawn-icons/64/social_36-128.png" width="75px" height="75px">
    </a>
    <a href="https://www.instagram.com/blackholius">
        <img src="https://cdn2.iconfinder.com/data/icons/social-hand-drawn-icons/64/social_50-128.png" width="75px" height="75px">
    </a>
    </div>
</div>
</section>
{% endblock %}