{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="privacy.css">
<div id="container">
    <div vertical-layout id="vertical-layout">
        <div id="text-div">
            <h1 class="title">
                <u>
                    Privacy Policy
                </u>
            </h1>
            <p id="sub-title">
                1 | Cookies
            </p>
            <p id="description">
                We use cookies to store your session. By using our service you agree to us storing your session<sup><a class="reference" href="#1">[1]</a></sup>.
            </p>
        </div>
        <hr>
        <div class="references">
            <p id="1">
                [1] | <a href="https://ico.org.uk/for-organisations/guide-to-pecr/cookies-and-similar-technologies/#compliance">In the UK we don't have to ask for your permission to store session cookies</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}