 .u-section-1 {
  background-color: rgba(0,0,0,0);
}

.u-section-1 .u-sheet-1 {
  min-height: 4124px;
}

.u-section-1 .u-group-1 {
  width: 597px;
  min-height: 4044px;
  height: auto;
  margin: 40px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 232px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-countdown-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-list-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  min-height: 232px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-countdown-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-countdown-item-7 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-7 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-7 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-6 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-8 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-8 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-8 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-7 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-9 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-9 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-9 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-8 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-10 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-10 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-10 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-9 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-11 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-11 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-11 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-10 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-12 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-12 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-12 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-list-3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-3 {
  min-height: 232px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-countdown-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-countdown-item-13 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-13 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-13 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-11 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-14 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-14 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-14 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-12 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-15 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-15 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-15 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-13 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-16 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-16 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-16 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-14 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-17 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-17 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-17 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-15 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-18 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-18 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-18 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-list-4 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-4 {
  min-height: 273px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 8px;
}

.u-section-1 .u-text-4 {
  margin: 0 auto;
}

.u-section-1 .u-countdown-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-countdown-item-19 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-19 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-19 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-16 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-20 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-20 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-20 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-17 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-21 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-21 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-21 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-18 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-22 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-22 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-22 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-19 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-23 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-23 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-23 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-20 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-24 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-24 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-24 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-list-5 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-5 {
  min-height: 232px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 0 auto;
}

.u-section-1 .u-countdown-5 {
  margin: 20px auto 0;
}

.u-section-1 .u-countdown-item-25 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-25 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-25 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-21 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-26 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-26 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-26 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-22 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-27 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-27 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-27 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-23 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-28 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-28 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-28 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-24 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-29 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-29 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-29 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-25 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-30 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-30 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-30 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-list-6 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-6 {
  min-height: 232px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: 0 auto;
}

.u-section-1 .u-countdown-6 {
  margin: 20px auto 0;
}

.u-section-1 .u-countdown-item-31 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-31 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-31 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-26 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-32 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-32 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-32 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-27 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-33 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-33 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-33 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-28 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-34 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-34 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-34 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-29 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-35 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-35 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-35 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-30 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-36 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-36 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-36 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-list-7 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-7 {
  min-height: 223px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  margin: 0;
}

.u-section-1 .u-countdown-7 {
  margin: 20px auto 0;
}

.u-section-1 .u-countdown-item-37 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-37 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-37 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-31 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-38 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-38 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-38 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-32 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-39 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-39 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-39 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-33 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-40 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-40 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-40 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-34 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-41 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-41 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-41 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-35 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-42 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-42 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-42 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-list-8 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-8 {
  min-height: 232px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  margin: 0 auto;
}

.u-section-1 .u-countdown-8 {
  margin: 20px auto 0;
}

.u-section-1 .u-countdown-item-43 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-43 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-43 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-36 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-44 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-44 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-44 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-37 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-45 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-45 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-45 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-38 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-46 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-46 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-46 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-39 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-47 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-47 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-47 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-40 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-48 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-48 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-48 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-list-9 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-9 {
  min-height: 232px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: 0 auto;
}

.u-section-1 .u-countdown-9 {
  margin: 20px auto 0;
}

.u-section-1 .u-countdown-item-49 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-49 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-49 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-41 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-50 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-50 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-50 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-42 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-51 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-51 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-51 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-43 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-52 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-52 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-52 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-44 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-53 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-53 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-53 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-45 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-54 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-54 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-54 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-list-10 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-10 {
  min-height: 232px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  margin: 0 auto;
}

.u-section-1 .u-countdown-10 {
  margin: 20px auto 0;
}

.u-section-1 .u-countdown-item-55 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-55 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-55 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-46 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-56 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-56 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-56 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-47 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-57 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-57 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-57 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-48 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-58 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-58 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-58 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-49 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-59 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-59 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-59 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-50 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-60 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-60 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-60 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-list-11 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-11 {
  min-height: 232px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  margin: 0 auto;
}

.u-section-1 .u-countdown-11 {
  margin: 20px auto 0;
}

.u-section-1 .u-countdown-item-61 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-61 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-61 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-51 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-62 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-62 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-62 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-52 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-63 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-63 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-63 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-53 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-64 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-64 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-64 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-54 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-65 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-65 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-65 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-55 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-66 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-66 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-66 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-list-12 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-12 {
  min-height: 232px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-text-12 {
  margin: 0 10px;
}

.u-section-1 .u-countdown-12 {
  margin: 11px auto 0;
}

.u-section-1 .u-countdown-item-67 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-67 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-67 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-56 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-68 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-68 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-68 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-57 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-69 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-69 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-69 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-58 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-70 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-70 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-70 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-59 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-71 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-71 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-71 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-60 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-72 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-72 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-72 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-list-13 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-13 {
  min-height: 232px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  margin: 0 auto;
}

.u-section-1 .u-countdown-13 {
  margin: 20px auto 0;
}

.u-section-1 .u-countdown-item-73 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-73 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-73 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-61 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-74 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-74 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-74 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-62 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-75 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-75 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-75 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-63 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-76 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-76 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-76 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-64 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-77 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-77 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-77 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-65 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-78 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-78 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-78 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-list-14 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-14 {
  min-height: 232px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-text-14 {
  margin: 0 auto;
}

.u-section-1 .u-countdown-14 {
  margin: 20px auto 0;
}

.u-section-1 .u-countdown-item-79 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-79 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-79 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-66 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-80 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-80 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-80 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-67 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-81 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-81 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-81 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-68 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-82 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-82 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-82 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-69 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-83 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-83 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-83 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-70 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-84 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-84 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-84 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-list-15 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-15 {
  min-height: 232px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-section-1 .u-text-15 {
  margin: 0 auto;
}

.u-section-1 .u-countdown-15 {
  margin: 20px auto 0;
}

.u-section-1 .u-countdown-item-85 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-85 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-85 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-71 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-86 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-86 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-86 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-72 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-87 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-87 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-87 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-73 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-88 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-88 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-88 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-74 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-89 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-89 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-89 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-75 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-90 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-90 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-90 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-list-16 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-16 {
  min-height: 232px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-section-1 .u-text-16 {
  margin: 0 auto;
}

.u-section-1 .u-countdown-16 {
  margin: 20px auto 0;
}

.u-section-1 .u-countdown-item-91 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-91 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-91 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-76 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-92 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-92 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-92 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-77 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-93 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-93 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-93 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-78 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-94 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-94 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-94 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-79 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-95 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-95 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-95 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-80 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-96 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-96 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-96 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-list-1 {
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3066px;
  }

  .u-section-1 .u-group-1 {
    min-height: 2795px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 390px;
    margin-top: -10px;
    margin-right: auto;
    margin-left: -22px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 154px;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-2 {
    width: 390px;
    margin-right: auto;
    margin-left: -22px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 155px;
  }

  .u-section-1 .u-countdown-counter-7 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-6 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-8 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-7 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-9 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-8 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-10 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-9 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-11 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-10 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-12 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-3 {
    width: 390px;
    margin-right: auto;
    margin-left: -22px;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 155px;
  }

  .u-section-1 .u-countdown-counter-13 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-11 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-14 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-12 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-15 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-13 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-16 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-14 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-17 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-15 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-18 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-4 {
    width: 390px;
    margin-right: auto;
    margin-left: -22px;
  }

  .u-section-1 .u-repeater-4 {
    min-height: 184px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-countdown-counter-19 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-16 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-20 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-17 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-21 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-18 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-22 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-19 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-23 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-20 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-24 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-5 {
    width: 390px;
    height: auto;
    min-height: 154px;
    margin-right: auto;
    margin-left: -22px;
  }

  .u-section-1 .u-repeater-5 {
    min-height: 154px;
  }

  .u-section-1 .u-countdown-counter-25 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-21 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-26 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-22 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-27 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-23 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-28 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-24 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-29 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-25 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-30 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-6 {
    width: 390px;
    height: auto;
    min-height: 154px;
    margin-right: auto;
    margin-left: -22px;
  }

  .u-section-1 .u-repeater-6 {
    min-height: 154px;
  }

  .u-section-1 .u-countdown-counter-31 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-26 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-32 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-27 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-33 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-28 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-34 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-29 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-35 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-30 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-36 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-7 {
    width: 390px;
    height: auto;
    min-height: 154px;
    margin-right: auto;
    margin-left: -22px;
  }

  .u-section-1 .u-repeater-7 {
    min-height: 154px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-countdown-counter-37 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-31 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-38 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-32 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-39 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-33 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-40 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-34 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-41 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-35 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-42 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-8 {
    width: 390px;
    height: auto;
    min-height: 154px;
    margin-right: auto;
    margin-left: -22px;
  }

  .u-section-1 .u-repeater-8 {
    min-height: 154px;
  }

  .u-section-1 .u-countdown-counter-43 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-36 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-44 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-37 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-45 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-38 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-46 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-39 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-47 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-40 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-48 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-9 {
    width: 390px;
    height: auto;
    min-height: 154px;
    margin-right: auto;
    margin-left: -20px;
  }

  .u-section-1 .u-repeater-9 {
    min-height: 154px;
  }

  .u-section-1 .u-countdown-counter-49 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-41 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-50 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-42 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-51 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-43 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-52 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-44 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-53 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-45 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-54 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-10 {
    width: 390px;
    height: auto;
    min-height: 155px;
    margin-right: auto;
    margin-left: -20px;
  }

  .u-section-1 .u-repeater-10 {
    min-height: 155px;
  }

  .u-section-1 .u-countdown-counter-55 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-46 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-56 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-47 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-57 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-48 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-58 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-49 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-59 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-50 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-60 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-11 {
    width: 390px;
    height: auto;
    min-height: 153px;
    margin-right: auto;
    margin-left: -22px;
  }

  .u-section-1 .u-repeater-11 {
    min-height: 153px;
  }

  .u-section-1 .u-countdown-counter-61 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-51 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-62 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-52 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-63 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-53 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-64 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-54 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-65 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-55 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-66 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-12 {
    width: 390px;
    height: auto;
    min-height: 155px;
    margin-right: auto;
    margin-left: -20px;
  }

  .u-section-1 .u-repeater-12 {
    min-height: 155px;
  }

  .u-section-1 .u-countdown-counter-67 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-56 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-68 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-57 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-69 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-58 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-70 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-59 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-71 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-60 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-72 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-13 {
    width: 390px;
    height: auto;
    min-height: 154px;
    margin-right: auto;
    margin-left: -20px;
  }

  .u-section-1 .u-repeater-13 {
    min-height: 154px;
  }

  .u-section-1 .u-countdown-counter-73 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-61 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-74 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-62 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-75 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-63 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-76 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-64 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-77 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-65 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-78 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-14 {
    width: 390px;
    height: auto;
    min-height: 153px;
    margin-right: auto;
    margin-left: -20px;
  }

  .u-section-1 .u-repeater-14 {
    min-height: 153px;
  }

  .u-section-1 .u-countdown-counter-79 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-66 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-80 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-67 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-81 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-68 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-82 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-69 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-83 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-70 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-84 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-15 {
    width: 390px;
    height: auto;
    min-height: 155px;
    margin-right: auto;
    margin-left: -20px;
  }

  .u-section-1 .u-repeater-15 {
    min-height: 155px;
  }

  .u-section-1 .u-countdown-counter-85 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-71 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-86 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-72 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-87 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-73 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-88 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-74 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-89 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-75 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-90 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-16 {
    width: 390px;
    height: auto;
    min-height: 152px;
    margin-right: auto;
    margin-left: -20px;
  }

  .u-section-1 .u-repeater-16 {
    min-height: 152px;
  }

  .u-section-1 .u-countdown-counter-91 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-76 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-92 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-77 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-93 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-78 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-94 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-79 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-95 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-80 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-96 {
    font-size: 3rem;
  }
}