{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="shop.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div class="tools">
    <div class="search-area">
        <input type="text" id="search" placeholder="Search"/>
        <button id="searchbutton">Go</button>
    </div>
    <div class="settings">
        <button id="view">Switch View</button>
    </div>
</div>
<div class="products products-table">
    <div class="product" onclick="location.href='place';">
        <div class="product-img">
            <img src="{{ url_for('main.placehold') }}">
        </div>
        <div class="product-content">
            <h3>
                Product One
                <small>this does whatever product one does</small>
            </h3>
            <p class="product-text price">$9.99</p>
            <p class="product-text genre">Software</p>
        </div>
    </div>
    <div class="product">
        <div class="product-img">
            <img src="{{ url_for('main.placehold') }}">
        </div>
        <div class="product-content">
            <h3>
                Product Two
                <small>this does whatever product two does</small>
            </h3>
            <p class="product-text price">$9.99</p>
            <p class="product-text genre">Software</p>
        </div>
    </div>
    <div class="product">
        <div class="product-img">
            <img src="{{ url_for('main.placehold') }}">
        </div>
        <div class="product-content">
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                <small>Consectetur Adipisicing</small>
            </h3>
            <p class="product-text price">$9.99</p>
            <p class="product-text genre">DVD Rental</p>
        </div>
    </div>
    <div class="product">
        <div class="product-img">
            <img src="{{ url_for('main.placehold') }}">
        </div>
        <div class="product-content">
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit
                <small>Consectetur Adipisicing</small>
            </h3>
            <p class="product-text price">$9.99</p>
            <p class="product-text genre">DVD Rental</p>
        </div>
    </div>
</div>

<script>
    $("#view").click(function () {
        $(".products").toggleClass("products-table");
    });
</script>
{% endblock %}