{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="shop.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div vertical-layout id="container">
    <div vertical-layout id="vertical-layout">
        <p>
            Each purchase can be used on only one account, however if you require multiple copies then we are sure we can make a deal.
        </p>
        <div id="container-tools">
            <div class="tools">
                <div class="search-area">
                    <input type="text" id="search" placeholder="Search"/>
                    <button id="searchbutton">Go</button>
                </div>
                <div class="settings">
                    <button id="view">Switch View</button>
                </div>
            </div>
        </div>
        <div id="container-products">
            <div class="products products-table">
                {% for item in shop_items %}

                <div class="product" onclick="location.href='{{ item["url"] }}';">
                    <div class="product-img">
                        <img src="{{ item['image_url'] }}">
                    </div>
                    <div class="product-content">
                        <h3>
                            {{ item["name"] }}
                            <small>{{ item["description"] }}</small>
                        </h3>
                        <p class="product-text price">{{ item["price"] }}</p>
                        <p class="product-text genre">{{ item["genre"] }}</p>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>

<script>
    $("#view").click(function () {
        $(".products").toggleClass("products-table");
    });
</script>
{% endblock %}