{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="shop.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div vertical-layout id="container">
    <div vertical-layout id="vertical-layout">
        <p>
            Each key can be used on only once, but you can have multiple copies of the same product on the same account.
            <br>
            If you require multiple copies then I am sure we can work something out.
            <br>
            After purchase you will receive an email with your product key(s). Please leave up to 24 hours to receive your key(s).
            <br>
            You have 48 hours after purchase to get a refund. You lose your refund once your key has been used.
            <br>
            You can assign that key to any account by going to that account's account page and selecting activate product key.
        </p>
        <div id="container-tools">
            <div class="tools">
                <div class="search-area">
                    <input type="text" id="search" placeholder="Search"/>
                    <button id="searchbutton">Go</button>
                </div>
                <div class="settings">
                    <button id="view">Switch View</button>
                </div>
            </div>
        </div>
        <div id="container-products">
            <div class="products products-table">
                {% for item in shop_items %}

                <div class="product" onclick="window.location.href = window.location + '/{{ item["page_name"] }}';">
                    <div class="product-img">
                        <img alt="{{ item['name'] }} logo" src="{{ item['big_image_url'] }}">
                    </div>
                    <div class="product-content">
                        <h3>
                            {{ item["name"] }}
                            <small>{{ item["description"] }}</small>
                        </h3>
                        <p class="product-text price">£{{ item["price"] }}</p>
                        <p class="product-text genre">{{ item["genre"] }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    $("#view").click(function () {
        $(".products").toggleClass("products-table");
    });
</script>
{% endblock %}