{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="terms.css">
<div id="container">
    <div vertical-layout id="vertical-layout">
        <div id="text-div">
            <h1 class="title">
                <u>
                    Terms & Conditions
                </u>
            </h1>
            <p id="sub-title">
                1 | Keys
            </p>
            <p id="description">
                You can assign a key to any account by going to that account's account page, selecting activate product key and inputting the key.
                Each key can be used on only once, but you can have multiple copies of the same product on the same account.
                If your key hasn't been activated within a month then it may be removed<sup><a class="reference" href="#1">[1]</a></sup>.
                After your purchase you will receive an email with your product key(s).
                After your purchase, you will be sent a key to the email you signed up with.
                Please give up to 24 hours to receive your key(s).
            </p>
            <p id="sub-title">
                2 | Returns
            </p>
            <p id="description">
                You have 48 hours after your key(s) is sent to you to ask for a refund <sup><a class="reference" href="#2">[2]</a></sup>.
            </p>
            <p id="sub-title">
                3 | 
            </p>
            <p id="description">
                <sup><a class="reference" href="#3">[3]</a></sup>
            </p>
            <p id="sub-title">
                4 | 
            </p>
            <p id="description">
                <sup><a class="reference" href="#4">[4]</a></sup>
            </p>
        </div>
        <hr>
        <div class="references">
            <p id="1">
                [1] | 
            </p>
            <p id="2">
                [2] | Unless stated otherwise
            </p>
            <p id="3">
                [3] | 
            </p>
            <p id="4">
                [4] | 
            </p>
        </div>
    </div>
</div>

{% endblock %}